.root{
    margin: 0 !important;
    display: flex;
}

.name{
    font-weight: bold;
    width: 60px;
    display: inline-block;
    flex-shrink: 0;
}

.text{
    width: auto;
    display: inline-block;
}
